<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="circuit">
  <svg class='circuit' viewBox="0 0 400 600" preserveAspectRatio='xMidYMid slice' version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>
    <linearGradient id="linear" x1="0%" y1="0%" x2="100%" y2="0%">
      <stop offset="0%"   stop-color="#148BB1"/>
      <stop offset="100%" stop-color="#DBE2E8"/>
    </linearGradient>
  </defs>
  <g id="module-01" transform="translate(24.000000, 164.000000)" class="path path-01" stroke="url(#linear)" stroke-width="4" fill="none" fill-rule="evenodd" stroke-linecap="butt" stroke-linejoin="round" stroke-opacity="1" stroke-dasharray="8,960,24,960,16,400" stroke-dashoffset="6400">
    <g id="C9" transform="translate(37.000000, 52.000000)">
      <polyline points="8 0 17 0 33 44 43 44"></polyline>
      <polyline points="-10 14 12 14 28 57 43 57"></polyline>
      <polyline points="3 28 8 28 23 70 43 70"></polyline>
      <polyline points="-1 105 7 105 20 83 42 83"></polyline>
      <polyline points="-9 122 -5 122 -2 117 12 117 24 96 41 96"></polyline>

      <polyline points="311 60 303 60 287 44 245 44"></polyline>
      <polyline points="300 74 283 57 245 57"></polyline>
      <polyline points="291 89 291 82 279 70 245 70"></polyline>
      <polyline points="270 87 263 87 259 83 245 83"></polyline>
      <polyline points="310 113 284 113 275 103 266 103 257 96 245 96"></polyline>

      <polyline points="90 175 90 171 97 163 97 148 85 136 85 108"></polyline>
      <polyline points="110 175 110 144 98 132 98 108"></polyline>
      <polyline points="122 167 122 139 111 128 111 108"></polyline>
      <polyline points="136 175 136 136 124 124 124 108"></polyline>
      <polyline points="153 164 153 156 149 152 149 131 137 119 137 108"></polyline>

      <polyline points="224 1 218 1 202 17 202 34"></polyline>
      <polyline points="311 38 299 38 290 29 269 29 253 13 226 13 217 22 217 33"></polyline>
    </g>
  </g>
  <g id="module-01" transform="translate(24.000000, 164.000000)" class="path path-02" stroke="url(#linear)" stroke-width="4" fill="none" fill-rule="evenodd" stroke-linecap="butt" stroke-linejoin="round" stroke-opacity="1" stroke-dasharray="8,960,24,960,16,400" stroke-dashoffset="6400">
    <g id="C9" transform="translate(37.000000, 52.000000)">
      <polyline points="55 35 55 -20 54 -20"></polyline>
      <polyline points="68 35 68 -20 67 -20"></polyline>
      <polyline points="81 35 81 -20 80 -20"></polyline>
      <polyline points="94 35 94 -20 93 -20"></polyline>
    </g>
  </g>
  <g id="paths-bg" transform="translate(0.000000, 0.000000)" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
    <g id="C9" transform="translate(61.000000, 216.000000)">
      <polyline id="path" points="8 0 17 0 33 44 43 44"></polyline>
      <polyline id="path" points="-10 14 12 14 28 57 43 57"></polyline>
      <polyline id="path" points="3 28 8 28 23 70 43 70"></polyline>
      <polyline id="path" points="-1 105 7 105 20 83 42 83"></polyline>
      <polyline id="path" points="-9 122 -5 122 -2 117 12 117 24 96 41 96"></polyline>

      <polyline id="path" points="311 60 303 60 287 44 245 44"></polyline>
      <polyline id="path" points="300 74 283 57 245 57"></polyline>
      <polyline id="path" points="291 89 291 82 279 70 245 70"></polyline>
      <polyline id="path" points="270 87 263 87 259 83 245 83"></polyline>
      <polyline id="path" points="310 113 284 113 275 103 266 103 257 96 245 96"></polyline>

      <polyline id="path" points="90 175 90 171 97 163 97 148 85 136 85 108"></polyline>
      <polyline id="path" points="110 175 110 144 98 132 98 108"></polyline>
      <polyline id="path" points="122 167 122 139 111 128 111 108"></polyline>
      <polyline id="path" points="136 175 136 136 124 124 124 108"></polyline>
      <polyline id="path" points="153 164 153 156 149 152 149 131 137 119 137 108"></polyline>

      <polyline id="path" points="224 1 218 1 202 17 202 34"></polyline>
      <polyline id="path" points="311 38 299 38 290 29 269 29 253 13 226 13 217 22 217 33"></polyline>

      <polyline id="path" points="55 35 55 -20 54 -20"></polyline>
      <polyline id="path" points="68 35 68 -20 67 -20"></polyline>
      <polyline id="path" points="81 35 81 -20 80 -20"></polyline>
      <polyline id="path" points="94 35 94 -20 93 -20"></polyline>
    </g>
  </g>
  <g id="static" transform="translate(-152.000000, -144.000000)" stroke="#01385f" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
    <a href='/services'>
      <g class='btn-hover' ontouchend='window.location.href="/services"'>
        <rect x="256" y="395" width="200" height="71" rx="4" fill="#01385f"></rect>
        <text x="274" y="443" font-family="Verdana" font-size="35" fill="#FDFDFD">Services</text>
      </g>
    </a>
    <circle cx="217" cy="360" r="4"></circle>
    <circle cx="199" cy="374" r="4"></circle>
    <circle cx="212" cy="388" r="4"></circle>
    <circle cx="207" cy="465" r="4"></circle>
    <circle cx="200" cy="482" r="4"></circle>
    <circle cx="302" cy="539" r="4"></circle>
    <circle cx="323" cy="539" r="4"></circle>
    <circle cx="349" cy="539" r="4"></circle>
    <circle cx="366" cy="528" r="4"></circle>
    <circle cx="527" cy="472" r="4"></circle>
    <circle cx="487" cy="446" r="4"></circle>
    <circle cx="504" cy="453" r="4"></circle>
    <circle cx="516" cy="436" r="4"></circle>
    <circle cx="528" cy="420" r="4"></circle>
    <circle cx="528" cy="398" r="4"></circle>
    <circle cx="443" cy="361" r="4"></circle>
  </g>
</svg>
</div>
</html>