#wrapper div.software {
	background-image: url( '/img/software.jpg' );
	filter: saturate(1.4);
	height: calc( 12vw + 16vh + 150px ) !important;
	min-height: unset !important;
    background-color: #3a0c65c4;
    background-blend-mode: multiply;
}
#wrapper div.hardware {
	background-image: url(/img/hardware.jpg);
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: multiply;
}
#wrapper div.pi {
	background-image: url( '/img/pi.jpg' );
	background-color: rgba(39, 62, 19, 0.75);
    background-blend-mode: multiply;
}

#wrapper div.ecommerce {
	height: 40vw !important;
	min-height: 270px !important;
	background-image: url( '/img/ecommerce.jpg' );
}
#wrapper div.ecommerce>.text>div {
	top: calc( 6vw + 8vh + 60px );
	right: calc( 40vw - 160px );
	width: calc( 5vw + 230px );
	font-weight: bold;
}
.large {
	min-height: 600px !important;
}
#wrapper>div:not(#policy__wrapper):not(#work__wrapper):first-child {
	height: calc( 100vh - 30px );
	margin-top: 30px;
}
#wrapper>div:not(#policy__wrapper):not(#work__wrapper):not(.text-block) {
	min-height: 400px;
}
.logo-container {
	margin: 30px 0;
	display: flex;
}
.logo-container.middle {
	margin-top: -50px !important;
}
@media screen and (max-width: 899px) {
	.logo__wrapper {
	    flex: 0 0 calc( 54px + 6vw );
	    height: calc( 54px + 6vw );
	    margin-left: calc( ( 10vw - (54px + 6vw ) ) / 2 );
	    margin-right: calc( ( 10vw - (54px + 6vw ) ) / 2 );
	}
	.logo__wrapper:nth-child(even) {
		margin-top: calc( 90px - 6vw );
	}
	.hidesmall {
		display: none;
	}
}
@media screen and (min-width: 900px) {
	.logo__wrapper {
	    flex: 0 0 10vw;
	    height: 10vw;
	}
}
.logo {
    height: calc( 100% - 3vw );
    width: calc( 100% - 3vw );
    margin: 1.5vw;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
